{
  "app": {
    "host": "127.0.0.1",
    "port": 3000
  },
  "services": {
    "mongo": {
      "uri": "mongodb://localhost/api"
    },
    "auth": {
      "jwt": {
        "secret": "this is a super puper secret"
      }
    }
  }
}