{
  "production": {
    "app": {
      "host": "127.0.0.1",
      "port": 3000
    },
    "mongo": {
      "uri": "mongodb://localhost/api"
    },
    "auth": {
      "jwt": {
        "secret": ""
      }
    }
  },
  "development": {
    "app": {
      "host": "127.0.0.1",
      "port": 8000
    },
    "mongo": {
      "uri": "mongodb://localhost:32770/api-dev"
    },
    "auth": {
      "jwt": {
        "secret": "development key secret"
      }
    }
  },
  "test": {
    "app": {
      "host": "127.0.0.1",
      "port": 8001
    },
    "mongo": {
      "uri": "mongodb://localhost:32770/api-test"
    },
    "auth": {
      "jwt": {
        "secret": "test key secret"
      }
    }
  }
}
